.tocWrapper {
  position: sticky;
  top: 0.6215rem;
}

.tocList {
  list-style: none;
  padding-left: 0.875rem;
}

@media screen and (min-width: 64rem) {
  .toc_small_wrapper {
    display: none;
  }
  .toc {
    text-align: left;
    margin-right: 2.5rem;
    max-width: 12.5rem;
    min-width: 12.5rem;
    overflow: hidden;
    margin-top: 11.25rem;
    height: 100vh;
    overflow-y: auto;
  }
}

@media screen and (min-width: 0) and (max-width: 64rem) {
  .toc {
    max-height: 100vh;
    overflow-y: auto;
  }
  .toc_large {
    display: none;
  }
  .toc_small_wrapper {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 998;
    margin: auto;
  }
  .toc_small_wrapper > div > div {
    box-shadow: 0 0 1rem 0.2rem #fff;
  }
  .toc_small_content {
    margin: 1rem auto;
    width: 95%;
    box-sizing: content-box;
  }
}
@media screen and (min-width: 64rem) {
  .toc {
    flex: 0 0 auto;
  }
}

@media print {
  .toc_small_wrapper,
  .toc_large {
    display: none;
  }
}
