@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@mong/material-ui/variables.css";
@import "@mong/material-ui/theme.css";
@source "../../../../node_modules/@mong/material-ui/dist";

img,
video {
  max-width: 100%;
  height: auto;
}

table {
  font-size: 1rem;
}

th,
td {
  padding: 0.125rem 0.625rem;
}

.not-prose :is(h1, h2, h3, h4, h5, h6) {
  color: var(--color-brand-primary-500);
}